div {
  height: 100px;
  width: 100px;
  border: 3px solid black;
  border-radius: 10px;
  position: absolute;
  background-color: rgb(13, 234, 127);
  top: 50px;
  left: 250px;
  text-align: center;
  padding: 40px;
  animation: colorAnimation 8s ease-in 1s normal;

  /* animation-iteration-count: infinite; */
}
@keyframes colorAnimation {
  0% {
    background-color: rgb(12, 13, 13);
    font-size: 15px;
    font-family: sans-serif;
  }
  50% {
    background-color: 10px cyan;
    font-size: 20px;
  }
  75% {
    background-color: yellow;
    font-size: 25px;
  }
  100% {
    background-color: rgb(251, 2, 2);
    font-size: 30px;
  }
}
