div {
  background-color: antiquewhite;
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  background-color: rgb(186, 204, 204);
}
li {
  list-style-type: none;
  display: inline;
}
.outer {
  height: 400px;
  width: 400px;
  background-color: rgb(230, 194, 194);
  display: flex;
  align-content: center;
  align-items: center;
}
.inner {
  height: 150px;
  width: 150px;
}
